/* ********** Variables ********** */
:root {
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #ffffff;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.8);
  --max-width: 1200px;
  --header-height: 4rem;
  --gris: rgb(39, 39, 39);
  --gris-oscuro: #333333;
  --turqueza: turquoise;
  --blanco: white;
  --font: "Raleway", sans-serif;
}

/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--blanco);
  background-color: var(--title-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

p {
  line-height: 1.6;
}

li {
  list-style: none;
}

.container-theme {
  background-color: var(--gris);
  box-shadow: 7px 7px 10px black;
  border-radius: 17px;
}

/* **********  Contact Form  ********** */

.contact-form {
  padding: 1rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 0.5rem auto;
  display: block;
  width: 90%;
}

.contact-form input,
.contact-form textarea {
  font-family: var(--font);
  border-radius: 15px;
}

.contact-form input {
  border-bottom: thin solid var(--gray-dark-color);
}

.contact-form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

.contact-form input[type="submit"] {
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

.contact-form *::placeholder {
  color: var(--gray-dark-color);
  padding-left: 15px;
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: black;
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--turqueza);
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

/* ********** Hero Image ********** */

.hero-image {
  background-attachment: fixed;
  background-image: url("assets/computer1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-image_opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
}

.hero-image_content {
  width: 100%;
  min-width: 320px;
}

.hero-image_title {
  font-size: 12vw;
  background: rgb(39, 255, 0);
  background: linear-gradient(
    0deg,
    rgba(39, 255, 0, 1) 0%,
    rgba(0, 255, 152, 1) 46%,
    rgba(0, 194, 255, 1) 53%,
    var(--turqueza) 92%,
    var(--turqueza) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me_name {
  font-size: 31px;
}

/* ********** Menu ********** */

.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.menu-btn {
  margin: 10px;
}

.logo a {
  color: var(--turqueza);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.menu-btn {
  outline: thin solid var(--turqueza);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}

.menu-btn svg {
  fill: var(--turqueza);
}

.menu {
  position: fixed;
  bottom: var(--header-height);
  width: 100%;
  height: 100%;
  justify-content: center;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  background-color: var(--black-alpha-color);
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 15px;
}

.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  width: 100%;
  padding: 1.15em;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: var(--turqueza);
}

/* ********** Modal ********** */

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gris);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
  border-radius: 20px;
}

/* ********** Utilidades ********** */
.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.bg-gray-light {
  background-color: var(--gris-oscuro);
}

.btn {
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;

  color: var(--white-color);
  background-color: var(--turqueza);
  border: none;
}

.container {
  width: 100%;
}

.gray-scale {
  filter: grayscale(1);
}

.none {
  display: none;
}

.section {
  padding: 1rem 1rem;
  text-align: center;
}

.section-title {
  border-top: thin solid var(--turqueza);
  border-bottom: thin solid var(--turqueza);
  margin: 0 auto;
  padding: 0.5rem 1rem;
  width: 250px;
  text-align: center;
  color: var(--blanco);
}

.text-first-color {
  color: var(--turqueza);
}

.text-center {
  text-align: center;
  padding: 20px;
}

.text-center span {
  font-size: 50px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* ********** Site Styles ********** */

.about > article {
  margin-bottom: 2rem;
}

.iconos-footer {
  width: 360px;
}

/* ********** SKILL ********** */

.turqueza {
  color: var(--turqueza);
}

.skill {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.skill h2 {
  padding: 20px;
}

.skill-content {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  padding: 20px;
}

.skill-content p {
  font-weight: bolder;
  width: 100px;
  padding: 10px;
}

.skill-content i {
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.html,
.git {
  color: rgb(255, 93, 34);
}

.css {
  color: rgb(0, 174, 255);
}

.js {
  justify-content: center;
  color: rgb(241, 241, 0);
}

.github {
  color: rgb(9, 255, 0);
}

.skill-content .figma {
  font-size: 30px;
}

.f {
  color: #0acf83;
}

.i {
  color: #a259ff;
}

.g {
  color: #f24e1e;
}

.m {
  color: #ff7262;
}

.a {
  color: #1abcfe;
}

.img__personal {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(assets/foto.jpg);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/****************** CONTACT CARD ******************/

.contact-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 90%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-card > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--turqueza);
}

.social-icon {
  display: flex;
  justify-content: center;
}

.social-icon a {
  transition: 0.5s;
  color: black;
  text-shadow: 1px 1px 5px var(--turqueza);
  font-size: 30px;
  padding: 15px;
}

.social-icon a:hover {
  color: var(--turqueza);
  text-shadow: 1px 5px 1px black;
}

.contact-card .fa-solid {
  color: var(--turqueza);
  font-size: 30px;
}

.social-media svg {
  width: 1.5rem;
  height: 1.5rem;
}

/************ FOOTER ************/

.footer {
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  width: 100%;
  height: 120px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--gris);
}

/************ HEADER ************/

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
}

.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--first-alpha-color);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio-card-info > div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
}

.portfolio-modal {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: var(--white-color);
}

.portfolio-modal h3 {
  border-bottom: medium solid var(--turqueza);
  padding: 0.5rem 0;
  margin: 1rem auto;
  color: var(--title-color);
}

.portfolio-details {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 2rem;
}

.portfolio-details b {
  color: var(--turqueza);
}

/*********  PROYECTOS   *********/

.container-proyectos {
  display: grid;
  gap: 25px;
}

.proyectos-card {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}

.title-proyectos {
  color: var(--blanco);
}

.img-proyectos {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
    align-content: center;
  }

  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .contact-form {
    margin: 2rem auto;
    max-width: 700px;
  }

  .hero-image_title {
    font-size: 7.5vw;
  }

  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .portfolio .section-title {
    grid-column: span 2;
  }

  .portfolio-modal {
    max-width: 800px;
    flex-direction: row;
  }

  .portfolio-info {
    margin-left: 1rem;
    align-self: center;
  }

  .container-proyectos {
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .contact-cards {
    grid-template-columns: repeat(4, 24%);
  }

  .footer {
    margin-bottom: 0;
  }

  .header {
    top: 0;
    padding: 0.5rem;
    background-color: transparent;
    height: calc(var(--header-height) - 0.5rem);
  }

  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio .section-title {
    grid-column: span 3;
  }

  .container-proyectos {
    grid-template-columns: repeat(3, 30%);
  }

  .section-title {
    grid-column: span 3;
  }

  .menu-btn {
    display: none;
  }

  .menu {
    position: sticky;
    right: 20px;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    width: auto;
  }
}
